log_level = "DEBUG"

data_dir = "/tmp/client1"

client {
  enabled = true
  servers = ["server.global.nomad:4647"]
}

ports {
  http = 5656
}

tls {
  http = true
  rpc  = true

  ca_file   = "nomad-ca.pem"
  cert_file = "client.pem"
  key_file  = "client-key.pem"

  verify_server_hostname = true
  verify_https_client    = true
}
